:root {
    --primary-color: #f26e65;
    --soft-background: #FEE8E7;
    --text-color: #252525;
    --white: #FFFFFF;
}
 h1 {
    color: var(--text-color);
 }

 

 button {
    background-color: var(--primary-color);
 }
  
 body {
    background-color: var(--white);
  }

  header {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  section {
    background-color: var(--soft-background);
}