:root {
    --primary-color: #F44336;
    --soft-background: #FEE8E7;
    --text-color: #252525;
    --white: #FFFFFF;
}

body {
    background-color: var(--white);
    color: var(--text-color);
}

h1 {
    color: var(--white);
}

button {
    background-color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white);
}

header h1,
header p {
    color: var(--white);
}