@media screen and (min-width: 500px) {
    footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
    gap: 2rem;
    }
    #theme-toggle {
    position: static;
    display: block;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 1rem 5%;
    }

    #menu-button {
        display: none;
    }

    #navigation {
        display: block;
    }

    #navigation ul {
        display: flex;
        gap: 0.5rem;
        margin: 0;
    }

    #navigation li {
        margin: 0;
    }

    #navigation a {
        padding: 0.7rem 1rem;
    }

    main {
        width: min(90%, 1200px);
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        gap: 1.5rem;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content a {
        font-size: 1.1rem;
    }
}

