@media screen and (min-width: 768px) {
    footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
    gap: 2rem;
    }
    #theme-toggle {
    position: static;
    display: block;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 1rem 5%;
    }

    #menu-button {
        display: none;
    }

    #navigation {
        display: block;
    }

    #navigation ul {
        display: flex;
        gap: 0.5rem;
        margin: 0;
    }

    #navigation li {
        margin: 0;
    }

    #navigation a {
        padding: 0.7rem 1rem;
    }

    main {
        width: min(90%, 1200px);
    }

    .grid-view {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        gap: 1.5rem;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content a {
        font-size: 1.1rem;
    }

    #spotlight-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    #forecast-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    #current-weather {
        grid-template-columns: auto;
    }


.join-layout {
    grid-template-columns: 1.3fr 1fr;
    align-items: start;
}

.discover-grid {
    grid-template-areas:
    "one two"
    "three four"
    "five six"
    "seven eight";
}

}

@media (min-width: 641px) and (max-width:1024px) {
    .discover-grid {
        grid-template-columns: repeat(2, minmax(0,1fr));
        grid-template-areas:
        "one two"
        "three four"
        "five six"
        "seven eight";
    }
}

/*Discover Large*/
@media screen and (min-width: 1025px) {
    .discover-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "one one two three"
        "four five five six"
        "seven eight eight six"
    }
}

/*Discover - Image hover */
@media screen and (min-width: 641px) {
    .discover-grid img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .discover-grid img:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
}

/*Discover - card design */

.discover-grid article {
    background: white;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 1rem;

}

.discover-grid h2 {
    margin-top: 0;
    font-size: 1.2rem;
}

.discover-grid figure {
    margin: 0 0 1rem 0;
}

.discover-grid img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
}

.discover-grid address {
    margin-bottom: 1rem;
}

.discover-grid p {
    line-height: 1.5;
}

.discover-grid button {
    padding: 0.5 rem 1rem;
    cursor: pointer;
    align-self: flex-start;
    margin-top: auto;
}