@media (min-width: 600px) {
    #menu-button {
    display: none;
    }

    nav {
        display: block;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    nav ul {
        flex-direction: row;
        gap: 1rem;
        margin: 0;
        padding: 0;
    }

    nav a {
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        transition: background-color 0.3s, color 0.3s;}

    #course-list {
        display: grid;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    main {
        padding: 2rem;
    }

    section {
        padding: 1.5rem;
    }

    footer {
        padding: 1rem 2rem;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}

